<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head.html :: header}" />
    <title>Mis Parkings</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <div class="container-fluid row p-5">
        <div th:if="${success}">
            <div class="alert alert-success">
                <p th:text="${success}"></p>
            </div>
        </div>
        <div th:if="${error}">
            <div class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
        </div>
    </div>
    <h1 class="container-fluid text-center"> Mis Parkings</h1>

    <div class="container-fluid row p-5">
        <a class="boton-parkings btn col-lg-1 col-m-1 mb-3 shadow-inset-center" th:href="@{/enterprise/add-parking}"
            href="/enterprise/add-parking">Añadir Parking</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Código Postal</th>
                    <th>Ciudad</th>
                    <th>País</th>
                    <th>Teléfono</th>
                    <th>Fecha de apertura</th>
                    <th>Fecha de cierre</th>
                    <th>Precio/h</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="parkings : ${parkings}">
                    <td id="fila1"><a class="nav-link" th:text="${parkings.name}">Nombre</a></td>
                    <td id="fila1"><a class="nav-link" th:text="${parkings.address}">Dirección</a></td>
                    <td id="fila1"><a class="nav-link" th:text="${parkings.cp}">Código Postal</a></td>
                    <td id="fila1"><a class="nav-link" th:text="${parkings.city}">Ciudad</a></td>
                    <td id="fila1"><a class="nav-link" th:text="${parkings.country}">País</a></td>
                    <td id="fila1"><a class="nav-link" th:text="${parkings.telephone}">Teléfono</a></td>
                    <td id="fila1"><a class="nav-link" th:text="${parkings.openingTime}">Fecha de apertura</a></td>
                    <td id="fila1"><a class="nav-link" th:text="${parkings.ClosingTime}">Fecha de cierre</a></td>
                    <td id="fila1"><a class="nav-link" th:text="${parkings.feePerHour}">Precio/h</a></td>

                    <td id="fila1"><a class="boton-parkings btn btn-primary m-1 shadow-inset-center"
                            th:href="@{/enterprise/parking/{id}/plazas(id=${parkings.id})}"
                            >Ver plazas</a>
                        <form th:action="@{/enterprise/delete-parking}" method="post" style="display:inline;">
                            <input type="hidden" name="parkingId" th:value="${parkings.id}" />
                            <button type="submit" class="btn btn-danger m-1">Eliminar</button>
                        </form>
                    </td>
                </tr>
        </table>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>

</html>