<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head.html :: header}" />
    <th:block th:replace="~{fragments/leaflet.html :: head}" />
    <title>Mis solicitudes</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    <div class="container-fluid text-center">
        <h1>Mis solicitudes</h1>
    </div>


    <div class="container-fluid row p-1">
        <div th:if="${success}">
            <div class="alert alert-success">
                <p th:text="${success}"></p>
            </div>
        </div>
        <div th:if="${error}">
            <div class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
        </div>
    </div>

    <div class="container-fluid row p-5">
        <div class="accordion" id="parkingAccordion">
            <div th:each="request : ${requests}" class="accordion-item">
                <h2 class="accordion-header" th:id="'heading-' + ${request.id}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        th:data-bs-target="'#collapse-' + ${request.id}" aria-expanded="false"
                        th:aria-controls="'collapse-' + ${request.id}">
                        <p><span th:text="${request.name}">Nombre</span></p>
                        <p>, Estado: <span th:text="${request.state}"
                                th:class="${request.state == 'Pendiente' ? 'estado-pendiente' : request.state == 'Aceptada' ? 'estado-aceptado' : request.state == 'Rechazada' ? 'estado-rechazado' : ''}">
                                Estado
                            </span></p>
                        <p>, <span th:text="${request.type}">Tipo</span></p>
                    </button>
                </h2>
                <div th:id="'collapse-' + ${request.id}" class="accordion-collapse collapse"
                    th:aria-labelledby="'heading-' + ${request.id}" data-bs-parent="#parkingAccordion">
                    <div class="accordion-body">
                        <div class="row">
                            <!-- Columna del mapa -->
                            <div class="col-md-6 mapa-reserva map-container order-lg-1 order-1"
                                th:data-address="${request.address} + ', ' + ${request.city} + ', ' + ${request.country}"
                                th:id="'mapa-' + ${request.id}">
                            </div>
                            <!-- Columna de la información -->
                            <div class="col-md-6 order-lg-2 order-2">
                                <div class="card p-3">
                                    <div class="card-text">
                                        <p><strong>Nombre:</strong> <span th:text="${request.name}">Nombre</span></p>
                                        <p><strong>Dirección:</strong> <span
                                                th:text="${request.address}">Dirección</span></p>
                                        <p><strong>Código Postal:</strong> <span th:text="${request.cp}">Código
                                                Postal</span></p>
                                        <p><strong>Ciudad:</strong> <span th:text="${request.city}">Ciudad</span></p>
                                        <p><strong>País:</strong> <span th:text="${request.country}">País</span></p>
                                        <p><strong>Teléfono:</strong> <span
                                                th:text="${request.telephone}">Teléfono</span></p>
                                        <p><strong>Fecha de apertura:</strong> <span
                                                th:text="${request.openingTime}">Fecha de apertura</span></p>
                                        <p><strong>Fecha de cierre:</strong> <span
                                                th:text="${request.closingTime}">Fecha de cierre</span></p>
                                        <p><strong>Precio/h:</strong> <span
                                                th:text="${request.feePerHour}">Precio/h</span></p>
                                        <p><strong>Tipo:</strong> <span th:text="${request.type}">Tipo</span></p>
                                        <p><strong>Estado de la petición:</strong> <span th:text="${request.state}"
                                                th:class="${request.state == 'Pendiente' ? 'estado-pendiente' : request.state == 'Aceptada' ? 'estado-aceptado' : request.state == 'Rechazada' ? 'estado-rechazado' : ''}">
                                                Estado
                                            </span></p>
                                        <div class="error" th:id="'error-' + ${request.id}"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/mapa-request.js}"></script>
    <footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>

</html>