<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head.html :: header}" />
    <title>Modificar Reserva</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    <div class="container-fluid row p-5">
        <!-- <div th:replace="~{fragments/parking-space-card.html :: ps-card}"></div> -->
        <div th:replace="~{fragments/modify-reserve-form.html :: modify-reserve-form}"></div>
    </div>
    <footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>

</html>