<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
    <th:block th:replace="~{fragments/head.html :: header}" />
    <title>Reservar Plaza</title>
    <th:block th:replace="~{fragments/leaflet.html :: head}" />
</head>
    <title>Modificar Reserva</title>
</head>
    <body class="d-flex flex-column h-100">
        <header th:replace="~{fragments/nav.html :: nav}"></header>
        <div class="container-fluid row p-5">
            <div th:replace="~{fragments/parking-space-card.html :: ps-card}"></div>
            <div th:replace="~{fragments/modify-reserve-form.html :: modify-reserve-form}"></div>
        </div>
<div id="chatContainer" class="card shadow" style="
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    display: none;">
    
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        <span>Chat con la empresa</span>
        <button id="cerrarChatBtn" class="btn btn-sm btn-light">&times;</button>
    </div>

    <div class="card-body" id="chatMessages" style="overflow-y: auto; height: 250px;"></div>

    <div class="card-footer p-2">
        <div class="input-group">
            <input type="text" id="chatInput" class="form-control" placeholder="Escribe..." />
            <button id="sendChatBtn" class="btn btn-primary">➤</button>
        </div>
    </div>
</div>
        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
        <script th:src="@{/js/chat-reserve.js}" src="js/chat-reserve.js"></script>

    </body>
</html>