<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head.html :: header}" />
    <title>Mis Reservas</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <div class="container-fluid row p-5">
        <div th:if="${success}">
            <div class="alert alert-success">
                <p th:text="${success}"></p>
            </div>
        </div>
        <div th:if="${error}">
            <div class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
        </div>
    </div>

    <div class="container-fluid row p-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Localización</th>
                    <th>Nº Plaza</th>
                    <th>Vehículo</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Final</th>
                    <th>Hora Inicio</th>
                    <th>Hora Final</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="r : ${reservas}">
                    <td id="fila1"><a class="nav-link" th:href="@{/user/reserve/{id}/modify(id=${r.id})}" href="/user/modify-reserve"
                            th:text="${r.spot.parking.address}">Ubicacion</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/reserve/{id}/modify(id=${r.id})}" href="/user/modify-reserve"
                            th:text="${r.spot.id}">Nº Plaza</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/reserve/{id}/modify(id=${r.id})}" href="/user/modify-reserve"
                            th:text="${r.vehicle.plate}">Vehículo</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/reserve/{id}/modify(id=${r.id})}" href="/user/modify-reserve"
                            th:text="${r.startDate}">Fecha Inicio</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/reserve/{id}/modify(id=${r.id})}" href="/user/modify-reserve"
                            th:text="${r.endDate}">Fecha Final</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/reserve/{id}/modify(id=${r.id})}" href="/user/modify-reserve"
                            th:text="${r.startTime}">Hora Inicio</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/reserve/{id}/modify(id=${r.id})}" href="/user/modify-reserve"
                            th:text="${r.endTime}">Hora Final</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/reserve/{id}/modify(id=${r.id})}" href="/user/modify-reserve"
                            th:text="${r.price}">Precio</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/reserve/{id}/modify(id=${r.id})}" href="/user/modify-reserve"
                            th:text="${r.state}">Estado</a></td>
                    <td th:if="${r.state.name() == 'CONFIRMED'}" id="fila1">
                        <a class="btn btn-primary m-1" th:href="@{/user/reserve/{id}/modify(id=${r.id})}">Modificar</a>
                        <a th:if="${r.state.name() == 'CONFIRMED'}" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#confirmCancelModal"
                            th:attr="data-id=${r.id}">
                            Cancelar
                        </a>
                    </td>
                </tr>
        </table>
    </div>
    <footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>

<div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="cancelForm" th:action="@{/user/reserve/cancel/}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmCancelModalLabel">Confirmar Cancelación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas cancelar esta reserva?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Sí, Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/my-reserves.js}"></script>

</html>

