<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head.html :: header}" />
    <title>ParkIT: Register</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <!-- Método postRegister está en el rootController.. -->
            <form class="form-signin" method="post" th:action="@{/register}">
                <h4 class="text-center m-3" id="titulo-formulario">Registro de Parker</h4>  
                <label for="Usuario" class="form-label">Usuario</label>
                <select class="form-select form-select-lg mb-3" name="role" id="role">
                    <option th:value="USER">USER</option>
                    <option th:value="ENTERPRISE">ENTERPRISE</option>
                </select>

                <div class="row mb-3">
                    <div class="col-12">
                        <label for="username" class="form-label">Nombre de Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" required placeholder="pepito03">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <label for="password" class="form-label"> Contraseña </label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="col-6">
                        <label for="passwordConfirmation" class="form-label">Repite la contraseña</label>
                        <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" required>
                    </div> 
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="email" class="form-label"> Email </label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="pepito@gmail.com">
                    </div>
                    <div class="col-6">
                        <label for="telephone" class="form-label">Telefono</label>
                        <input type="tel" class="form-control" id="telephone" name="telephone" required placeholder="684438593">
                    </div> 
                </div>
                <div id="parkerAttributes">
                    <div class="row mb-3">
                        <div class="col-4">
                            <label for="firstName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="firstName" id="firstName">
                        </div>
                        <div class="col-4">
                            <label for="secondName" class="form-label" >Apellido</label>
                            <input type="text" class="form-control" name="secondName" id="secondName">
                        </div>
                        <div class="col-4">
                            <label for="dni"  class="form-label">DNI</label>
                            <input type="text" class="form-control" name="dni" id="dni">
                        </div>
                    </div>
                </div>
                <div id="enterpriseAttributes">
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="CIF" class="form-label">CIF</label>
                            <input type="text" class="form-control" name="CIF" id="CIF">
                        </div>
                        <div class="col-6">
                            <label for="enterpriseName"  class="form-label">Nombre Empresa</label>
                            <input type="text" class="form-control" name="enterpriseName" id="enterpriseName">
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-4">
                        <button type="submit" class="btn btn-lg btn-outline-dark w-100">Registrarse</button>
                    </div>
                    <div class="col-4">
                        <button type="reset" class="btn btn-lg btn-outline-dark w-100">Borrar datos</button>
                    </div>
                    <div class="col-4">
                        <button type="button" id="enviar-prueba" class="btn btn-lg btn-outline-dark w-100" onclick="addTestValues()">Rellenar</button>
                </div>
            </div> 
        <script>
        function addTestValues() {
            document.getElementById('username').value = 'Papot';
            document.getElementById('password').value = 'tigreDeBengala';
            document.getElementById('passwordConfirmation').value = 'tigreDeBengala';
            document.getElementById('email').value = 's@gmail.com';
            document.getElementById('telephone').value = '68430615';
        }
        </script>   
        </form>
        </div>
    </main>
    <script th:src="@{/js/registro.js}">    </script>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>