<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head.html :: header}" />
    <title>ParkIT: Register</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <div class="form-register">
        <!-- deslizador para cambiar el formulario de registro -->
         <div class="toggle-label">
             <div class="form-check form-switch">
                <input type="check-box" class="form-check-input">
                <label for="userTypeSwitch" class="form-check-label">
                    <span class="switchUserLabel"><strong>Registro Usuario</strong></span>
                </label>
            </div>
         </div>
         <th:block th:replace="~{fragments/register-forms.html :: register-parker-form}"></th:block>
         <th:block th:replace="~{fragments/register-forms.html :: register-enterprise-form}"></th:block>
    </div>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>