<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{fragments/head.html :: header}" />
  <title>Usuario: Perfil</title>
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="~{fragments/nav.html :: nav}"></header>

  <main class="container text-center">
    <h1 class="m-3">Información Usuario</h1>
  </main>

  <div class="container d-flex">
    <div th:replace="~{fragments/users-card.html :: users-card}"></div>

    <!--Lo hemos sacado de bootstrap-->
    <div class="card shadow border-0 rounded-4 mb-5 mt-4 col col-5 ">
      <div class="card-body p-4">
        <h4 class="text-center">Datos personales</h4>

        <form action="post">
          <div class="mb-3">
            <label for="usuario" class="mb-2">Usuario</label>
            <input type="text" th:value="${u.username}" class="form-control" name="usuario" id="usuario"
              aria-describedby="usuarioId" placeholder="" disabled>
          </div>

          <div class="mb-3">
            <label for="telefono" class="mb-2">Telefono</label>
            <input type="text" th:value="telefono" class="form-control" name="telefono" id="telefono"
              aria-describedby="telefonoId" placeholder="" disabled>
          </div>

          <div class="mb-3">
            <label for="correo" class="mb-2">Correo</label>
            <input type="text" th:value="correo" class="form-control" name="correo" id="correo"
              aria-describedby="usuarioId" placeholder="" disabled>
          </div>

          <div class="row mb-3">
            <div class="col">
              <button type="button" class="btn btn-outline-dark w-100">Editar datos</button>
            </div>
            <div class="col">
              <button class="btn btn-outline-dark w-100" type="submit" disabled>Guardar</button>
            </div>
          </div>
        </form>

        <div class="row mb-3">
            <div class="col">
              <button class="btn btn-outline-dark w-100" type="button" data-bs-toggle="modal" data-bs-target="#modalSaldo">Cargar Saldo</button>
            </div>
        </div>
      </div>
    </div>
  </div>

<!-- Ejemplo de modal -->
<div class="modal fade" id="modalSaldo" tabindex="-1" aria-labelledby="modalSaldoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSaldoLabel">Cargar saldo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form id="formCargarSaldo" method="post" th:action="@{'/user/' + ${u.id} + '/cargar-saldo'}">
          <div class="mb-3">
            <label for="monto" class="form-label">Monto a cargar</label>
            <input type="number" class="form-control" id="monto" name="monto" min="1" required>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


  <!-- <main class="flex-shrink-0">
    <div id="books" class="border border-2 border-primary rounded">
      <label for="isbn">ISBN</label><input id="isbn" value="9780140328721" />

  <button id="fetchBook">Buscar datos online</button>
  <img class="preview" id="portada" alt="portada del libro" />
  <form th:action="@{/user/__${user.id}__/pic}">
    <button id="postPortada" class="perfilable">Usar como foto de perfil</button>
  </form>
  </div>
  <div id="movies" class="border border-2 border-secondary rounded">
    <label for="imdb">IMDB</label><input id="imdb" value="tt11286314" />
    <button id="fetchMovie">Buscar datos online</button>
    <img class="preview" id="poster" alt="poster de la pelicula" />
    <form th:action="@{/user/__${user.id}__/pic}">
      <button id="postPoster" class="perfilable">Usar como foto de perfil</button>
    </form>
  </div>


  <div class="container">
    <h1 class="mt-5">Perfil de <span th:text="${user.username}">Paco</span></h1>
    recepción de mensajes
    <div class="py-5 row" id="mensajes">
    </div>
    envío de mensajes
    <div class="py-5 row">
      <form th:action="@{/user/__${user.id}__/msg}" method="POST">
        <input type="text" id="message" placeholder="escribe a este usuario" />
        <button id="sendmsg" class="btn btn-secondary" type="submit">Enviar</button>
      </form>
    </div>
  </div>
  </main> -->
  </div>

  <th:block th:replace="~{fragments/footer.html :: footer}" />

  <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>